

body {

    background: #000000;
    margin: 0px;
    spacing: 0px;

}

div#polyTriangulationDiv {

    position: absolute;
    left: 0px;
    right: 0px;
    padding: 0px; /* To hide scrollbars */
    

}