

body {
    font-family:       Monospace;
}

table {
    border-spacing:    20px 0px;
}

hr {
    width:             36%;
    border:            0;
    background-color:  #000000;
    height:            1px;
    margin-left:       0px;
    text-align:        left;
}
