<?xml version="1.0" ?>

<yuccasrv version="1.0.0">
  <comment>This is a yucca configuration example</comment>
  <server name="My HTTP Server" handlerClass="ikrs.httpd.HTTPHandler" sharedHandlerInstance="true" >
    <httpConfig>
      <httpSettings configFile="{USER_HOME}/.yuccasrv/ikrs.httpd.conf" />
      <fileHandlers configFile="{USER_HOME}/.yuccasrv/filehandlers.ini" />
    </httpConfig>
    <listen protocol="TCP" host="127.0.0.1" port="8888" backlog="10" id="1" autobind="true" />
    <listen protocol="TCP" host="127.0.1.1" port="8888" backlog="4" id="2" autobind="true" ssl="false" />
    <listen protocol="TCP" host="192.168.1.106" port="8888" backlog="4" id="3" autobind="true" ssl="false" />
    <listen protocol="TCP" host="fe80:0:0:0:5054:5ff:fec4:7772%3" port="8888" backlog="4" id="4" autobind="true" ssl="false" />
    <listen protocol="TCP" host="127.0.0.1" port="8889" backlog="10" id="5" autobind="true" ssl="true" >

      <property name="javax.net.ssl.keyStore" value="{USER_HOME}/.yuccasrv/server_localhost.keystore.jks" />
      <property name="javax.net.ssl.keyStorePassword" value="testTEST" />
      <property name="javax.net.ssl.keyStoreType" value="JKS" />

      <property name="javax.net.ssl.trustStore" value="{USER_HOME}/.yuccasrv/server_localhost.truststore.jks" />
      <property name="javax.net.ssl.trustStorePassword" value="testTEST" />
      <property name="javax.net.ssl.trustStoreType" value="JKS" />

      <!--  <property name="wantClientAuth" value="true" /> -->
      <property name="needClientAuth" value="true" />
      

    </listen>
  </server>
</yuccasrv>
