# This is just a test file

# AuthType Basic
AuthType Digest
AuthName "My cool realm"
AuthUserFile document_root/tests_and_examples/secret_digest/.htpasswd
AuthGroupFile document_root/tests_and_examples/secret_digest/.htgroups
Require valid-user

# The value 'On' implies the default value 'iso-8859-1'
# AddDefaultCharset On
AddDefaultCharset utf-8
AddCharset utf-8 txt htm html
